.side-menu {
  width: 200px;
  height: 100vh;
  display: flex;
  transition: 0.3s;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #45454f;
}

.side-menu > a {
  width: 100%;
  display: flex;
  font-size: 14px;
  color: #a2a8af;
  transition: 0.3s;
  padding: 10px 25px;
  align-items: center;
  text-decoration: none;
}

.side-menu > a:hover {
  color: white;
}

.side-menu > .logo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-menu > .logo > img {
  width: 100%;
  max-width: 100px;
}

.side-menu > .active {
  color: #45454f;
  background: #e9dec2;
  background: linear-gradient(to right, #e9dec2 0%, #d6ccb1 100%);
}

.side-menu > .active:hover {
  color: #45454f;
}

.side-menu span {
  margin-left: 5px;
}

.side-menu-close {
  width: 80px;
}

.side-menu-close a {
  justify-content: center;
}

.side-menu-close span {
  display: none;
}

.side-menu > .side-menu-minimize {
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  color: #a2a8af;
  cursor: pointer;
  position: absolute;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  background-color: #313138;
}