.loading-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.loading-container .loading-wrapper {
    gap: 20px;
    display: flex;
    padding: 20px;
    font-size: 18px;
    border-radius: 3px;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.loading-container .loading-wrapper svg {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}