* {
  box-sizing: border-box;
  -webkit-appearance: none;
}

.app {
  display: flex;
  height: 100vh;
  background-color: #f1f2f5;
}

.row {
  gap: 10px;
  display: flex;
}

.column {
  flex: 1;
}

a {
  color: black;
}

.svg-button {
  color: black;
  cursor: pointer;
}

.svg-button:hover {
  color: #5ea7f8;
}

.swal-modal {
  border-radius: 0;
}

.swal-button {
  border-radius: none;
  background-color: #5ea7f8; 
}

.swal-button--cancel {
  background-color: #f1f2f5;
}

@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
  }
}
